<%@page language="abap"%>
<!DOCTYPE html>
<html>
<head>
  <title>Customer List</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
    th {
      text-align: left;
    }
  </style>
</head>
<body>

  <h1>Customer List</h1>

  <%
    DATA: lt_customers TYPE TABLE OF zi_customer,
          ls_customer  TYPE zi_customer.

    SELECT * FROM zi_customer INTO TABLE @lt_customers.
  %>

  <table>
    <tr>
      <th>Customer UUID</th>
      <th>Customer Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
    <%
      LOOP AT lt_customers INTO ls_customer.
    %>
    <tr>
      <td><%= ls_customer-customer_uuid %></td>
      <td><%= ls_customer-first_name %> <%= ls_customer-last_name %></td>
      <td><%= ls_customer-email_address %></td>
      <td><%= ls_customer-phone_number %></td>
    </tr>
    <%
      ENDLOOP.
    %>
  </table>

</body>
</html>
